:root {
  --primary: #b81365;
  --primary-dark: #6a0136;
  --secondary: #055864;
  --secondary-light: #026c7c;
  --white: #fff;
  --black: #020202;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Gotu', sans-serif;
}
html {
  scroll-behavior: smooth;
}

header {
  padding: 20px 0 0 20px;
}

.carousel {
  padding: 20px;
}

@media (min-width: 1000px) {
  img {
    width: auto;
    height: 500px;
    max-height: 500px;
  }
}

@media (min-width: 1400px) {
  img {
    width: auto;
    height: 700px;
    max-height: 700px;
  }
}

.nav-bar {
  background-color: var(--black);
  z-index: 100;
  position: fixed;
  width: 100vw;
  display: flex;
  align-content: space-around;
  flex-direction: row;
  justify-content: flex-start;
}

a {
  color: var(--white);
  text-decoration: none;
}

.topic:hover {
  color: #b81365;
  text-decoration: none;
}

section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

#home {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

#mywork,
#blog {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  padding: 70px 0;
  align-self: flex-start;
  flex-direction: column;
}

#about,
#skills {
  display: flex;
  margin: 60px 0;
  padding: 70px 0;
  text-align: left;
  justify-content: left;
}

svg {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  height: 50px;
  width: 50px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid var(--secondary-light);
  background-color: var(--secondary-light);
}
